.marker {
  position: relative;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 770px) {
  .marker {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.camera {
  width: 100%;
  height: 100%;
}
