.start-img {
  width: 30%;
  float: left;
}

.start-info {
  width: 70%;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .start-info {
    font-size: 1.3em;
  }
}

.start-info a {
  color: #FD882D;
  text-decoration: none;
  cursor: pointer;
}

.start-info a:hover {
  text-decoration: underline;
}

.start {
  display: inline-block;
  padding: 0 15px 0 0;
}

@media screen and (min-width: 768px) {
  .start {
    padding: 0 10px 0 0;
  }
}
